[submodule "home/.zsh/plugins/zplug"]
	path = home/.zsh/plugins/zplug
	url = https://github.com/zplug/zplug
	ignore = dirty
[submodule "home/.vimperator/plugins/vimppm"]
	path = home/.vimperator/vimppm
	url = https://github.com/cd01/vimppm
	ignore = dirty
[submodule "home/.vim/plugins/dein.vim"]
	path = home/.vim/plugins/dein.vim
	url = https://github.com/shougo/dein.vim
	ignore = dirty
[submodule "home/.tmux/plugins/tpm"]
	path = home/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
	ignore = dirty
