[submodule "home/.vim/plugins/dein.vim"]
	path = home/.config/nvim/dein/repos/github.com/Shougo/dein.vim
	url = https://github.com/shougo/dein.vim
	ignore = dirty
[submodule "home/.tmux/plugins/tpm"]
	path = home/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
	ignore = dirty
[submodule "home/.zsh/plugins/zplugin"]
	path = home/.zsh/plugins/zplugin
	url = https://github.com/zdharma/zplugin
