#navigator-toolbox {
    /* The height of the area at the top of the screen that causes the nav-bar to be shown
    If zero, you can still focus with <C-l> or F6.
     */
    --tridactyl-auto-show-zone: 1px;
}

/* Hide tab bar */
:root:not([customizing])
    #TabsToolbar {
    visibility: collapse;
}

/* Auto hide nav bar */
:root:not([customizing])
    #navigator-toolbox:not(:hover):not(:focus-within)
    #nav-bar {
    max-height: 0;
    min-height: 0 !important;
    /* Use margin-bottom to allow trigger zones that are larger than the nav-bar */
    margin-bottom: calc(-1 * var(--tridactyl-auto-show-zone));
    opacity: 0;
}

/* Reduce the "white flash" in new tabs */
browser[type="content-primary"], browser[type="content"] {
  background: #212121 !important;
}

#sidebar-splitter {
  background-color: rgb(56, 56, 61) !important;
}
