#command-line-holder, #tridactyl-colon, #tridactyl-input {
  background-color: #212121 !important;
  color: #ccc !important;
}

#completions > *, #completions .sectionHeader, #completions .optionContainer {
  background-color: #222222 !important;
  color: #ccc !important;
}

img {
  opacity: 0.75 !important;
  background-color: #ddd !important;
}
img:hover {
  opacity: 1 !important;
  background-color: #888 !important;
}
